{% extends "fr/email/base.html.twig" %}

{% block title %}Changement d'adresse email{% endblock %}

{% block body %}
    <div style="padding: 10px 15px;">
        <img src="http://localhost:8000/img/logo.png" style="width: 140px; height: 140px;" alt="logo Larimar">
        <h1 style="font-size: 1.4em;">Changement d'adresse email</h1>

        <p style="margin: 40px 0;">Afin de valider la modification de votre adresse email, entrez le code ci-dessous :</p>

        <p style="color: #009095; font-weight: 600; font-size: 1.6em; letter-spacing: .1em;">{{ code }}</p>
    </div>
{% endblock %}
