{% extends "fr/email/base.html.twig" %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div style="padding: 10px 15px;">
        <img src="http://localhost:8000/img/logo.png" style="width: 140px; height: 140px;" alt="logo Larimar">
        <h1 style="font-size: 1.4em;">Réinitialisez votre mot de passe</h1>

        <p style="margin: 40px 0;">Vous avez demandé la réinitialisation de votre mot de passe, veuillez cliquer sur le lien ci-dessous (valide 48h)</p>

        <p style="margin: 40px 0;">
            <a style="color: #009095; text-transform: uppercase; font-weight: 600; font-size: .9em;" href={{ link }}>Créer un nouveau mot de passe</a>
        </p>
    </div>
{% endblock %}