 <ul class="category-list">
    <div class="category-sublist">
        <li class="category-item">
            <a class="category-item-link" href={{ path('fr_category_show', {slug: 'bijoux-femme'}) }} >
                <div class="category-list-img-wrapper">
                    <div 
                        class="category-list-img" 
                        style='background: linear-gradient(to right, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), linear-gradient(to bottom, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), url("/img/category/femme.jpg") center center / cover no-repeat;'
                        >

                    </div>
                </div>
                <h2 class="category-item-title">Bijoux Femme</h2>
            </a>
        </li>
        <li class="category-item">
            <a class="category-item-link" href={{ path('fr_category_show', {slug: 'bijoux-homme'}) }} >
                <div class="category-list-img-wrapper">
                    <div 
                        class="category-list-img" 
                        style='background: linear-gradient(to right, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), linear-gradient(to bottom, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), url("/img/category/homme.jpg") center center / cover no-repeat;'
                        >

                    </div>
                </div>
                <h2 class="category-item-title">Bijoux Homme</h2>
            </a>
        </li>
    </div>
    <div class="category-sublist">
        <li class="category-item">
            <a class="category-item-link" href={{ path('fr_category_show', {slug: 'bijoux-enfant'}) }} >
                <div class="category-list-img-wrapper">
                    <div 
                        class="category-list-img" 
                        style='background: linear-gradient(to right, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), linear-gradient(to bottom, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), url("/img/category/enfant.jpg") center center / cover no-repeat;'
                        >

                    </div>
                </div>
                <h2 class="category-item-title">Bijoux Enfant</h2>
            </a>
        </li>
        <li class="category-item">
            <a class="category-item-link" href={{ path('fr_category_show', {slug: 'decoration-et-detente'}) }} >
                <div class="category-list-img-wrapper">
                    <div 
                        class="category-list-img" 
                        style='background: linear-gradient(to right, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), linear-gradient(to bottom, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 25%, rgba(30, 30, 30, 0) 75%, rgba(30, 30, 30, 1) 100%), url("/img/category/deco.jpg") center center / cover no-repeat;'
                        >

                    </div>
                </div>
                <h2 class="category-item-title">Décoration & Détente</h2>
            </a>
        </li>
    </div>
</ul>


{# 
<div 
    class="category-list-img" 
    style='background: linear-gradient(to right, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 40%, rgba(30, 30, 30, 0) 60%, rgba(30, 30, 30, 1) 100%), linear-gradient(to bottom, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 40%, rgba(30, 30, 30, 0) 60%, rgba(30, 30, 30, 1) 100%), url("/img/category/enfant.jpg") center center / cover no-repeat;'
    >

</div> #}