{% extends 'fr/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="security" data-controller="formloading">

        <h1 class="security-title-small">Récupération de mot de passe</h1>

        <form method="post">
            <div class="form-group email-group {{ error ? 'is-invalid': '' }}">
                <div class="input-wrapper" data-controller="formfield">
                    <label class="form-label email-label" for="email">Entrez votre adresse email</label>
                    <input class="form-control email-control" type="text" name="email" id="email" maxlength="200">
                </div>
                {% if error %}
                    <div class="form-error email-error">{{ error }}</div>        
                {% endif %}
            </div>

            <div class="submit-group">
                <button class="form-button no-react security-button" type="submit">
                    <img class="loader form-button-loader" src="/img/icons/loader.png" alt="symbole chargement">
                    <span>Valider</span>
                </button>
            </div>
        </form>

    </div>

{% endblock %}
