<header 
    id="header" 
    class="{{ headerClass ?? 'header' }}"
    {% if category is defined %}data-activecategory="{{ category.id }}"{% endif %}
    {% if subCategory is defined %}data-activesubcategory="{{ subCategory.id }}"{% endif %}
    >
    <!-- HEADER SANS REACT -->
    <div class="header-top">
        <a href={{ path('home') }}>
            <img class="header-logo" src="/img/logo.png" alt="logo Larimar" />
        </a>
    </div>
</header>