{% extends "en/base.html.twig" %}

{% block title %}Who am I ?{% endblock %}

{% block metaTitle %}
    <meta property="og:title" content="Who am I ?">
{% endblock %}

{% block metaDescription %}
    {% set metaDescription = "Explore the journey of Marie-Laure Schira, the creator of Larimar France, a mineral enthusiast who became larimar french specialist after her trip to the Dominican Republic in 1999." %}
    <meta name="description" content="{{ metaDescription }}">
    <meta property="og:description" content="{{ metaDescription }}">
{% endblock %}

{% block body %}
   <div class="container aPropos">
        <h1 class="aPropos-title">Who am I ?</h1>
        <img class="aPropos-img" src="/img/a_propos.jpg" alt="Photo portrait de Marie-Laure Schira">
        <p class="aPropos-text">
            Falling into mineralogy from a young age, I early on assisted my mother in her shop of minerals, fossils, and stone jewelry in Pézenas (Hérault).
        </p>
        <p class="aPropos-text">
            It was during one of my numerous journeys (I've crossed over ten countries) that I discovered the most exceptional of stones, larimar, in the Dominican Republic. Love at first sight for me! I then left my job as an IT specialist, embarked on becoming a true larimar expert in France, and ventured into jewelry making! This was in 1999.
        </p>
        <p class="aPropos-text">
           I then worked extensively to find raw stones locally from collectors. I then sought out the finest craftsmen to work on these stones and set them in sterling silver (925/1000), according to my requirements.
        </p>
        <p class="aPropos-text">
           I attach vital importance to the quality and final strength of my jewelry. Besides being made of stones imported from the farthest corners of the world, they stand out with meticulous finishing and solid craftsmanship. All my creations are unique.
        </p>
        <p class="aPropos-text">
           Having been based in Les Contamines Montjoie (Haute-Savoie) for seven years, I opened my store in Fontaine de Vaucluse in 2008: Origin'L by Larimar France. That's where you'll find me, almost 7 days a week and 24 hours a day! When I'm not busy scaling the cliffs of Provence !
        </p>
        <p class="aPropos-text">
           Within my Vaucluse treasure trove, I offer an extensive and varied range of original jewelry for women, men, and children (bracelets, earrings, rings, necklaces, pendants, accessories), as well as raw minerals (unpolished) or crystallized (natural forms with a crystalline structure), and decorative or relaxation objects.
        </p>
        <p class="aPropos-text">
          Dubbed the “Indiana Jones of the modern era” by those around me, I set off each year to explore the globe and bring back unique stones and original creations from the world's best artisans.
        </p>
        <p class="aPropos-text">
           My recent escapade in the Dominican Republic also led me to gemologist Patrick Voillot, renowned for his documentaries on precious stones. I had the opportunity to take part in his documentary dedicated to larimar, titled <a href="youtube.com/watch?v=-WwoeZfIt2U">The Blue Amber of the Dominican Republic</a>.
        </p>
        <p class="aPropos-text">
            By wearing or gifting one of my larimar or other mineral jewelry pieces, you'll showcase a craftsmanship of excellence and stand out with these magnificent stones found at the farthest reaches of the world !
        </p>
        <div class="aPropos-signature">
            <p>
                See you soon,
            </p>
            <p>
                Marie-Laure
            </p>
        </div>
    </div>
{% endblock %}
