{% extends "fr/base.html.twig" %}

{% block title %}Qui suis-je ?{% endblock %}

{% block metaTitle %}
    <meta property="og:title" content="Qui suis-je ?">
{% endblock %}

{% block metaDescription %}
    {% set metaDescription = "Découvrez le parcours de Marie-Laure Schira, créatrice de Larimar France, passionnée de minéraux, devenue la spécialiste du larimar depuis son voyage en République Dominicaine en 1999." %}
    <meta name="description" content="{{ metaDescription }}">
    <meta property="og:description" content="{{ metaDescription }}">
{% endblock %}


{% block body %}
    <div class="container aPropos">
        <h1 class="aPropos-title">Qui suis-je ?</h1>
        <img class="aPropos-img" src="/img/a_propos.jpg" alt="Photo portrait de Marie-Laure Schira">
        <p class="aPropos-text">
            Tombée dans la minéralogie dès mon plus jeune âge, j'ai aidé très tôt ma maman dans son magasin de minéraux, fossiles et bijoux en pierres à Pézenas (Hérault). 
        </p>
        <p class="aPropos-text">
            C'est lors de l'un de mes nombreux voyages (j'ai traversé plus de dix pays) que je découvre en République dominicaine la plus exceptionnelle des pierres, le larimar. Un coup de foudre pour moi ! Je délaisse alors mon métier d'informaticienne, j'entreprends de devenir la spécialiste du (vrai) larimar en France et je me lance dans la création de bijoux ! Nous sommes en 1999. 
        </p>
        <p class="aPropos-text">
            J'œuvre alors longuement pour trouver les pierres brutes sur place auprès des collecteurs. Il me faut ensuite dénicher les meilleurs tailleurs pour travailler ces pierres et les monter sur argent massif (925/1000e), selon mes exigences. 
        </p>
        <p class="aPropos-text">
            J'accorde une importance capitale à la qualité et à la solidité finale de mes bijoux. En plus d'être composés de pierres importées du bout du monde, ils se démarquent par une finition soignée et un montage solide et cossu. Toutes mes créations sont uniques.
        </p>
        <p class="aPropos-text">
           Installée pendant sept ans aux Contamines Montjoie (Haute-Savoie), j'ouvre en 2008 mon magasin à Fontaine de Vaucluse : Origin'L by Larimar France. C'est là que vous me trouverez, presque 7 jours/7 et 24h/24 ! Quand je ne suis pas en train d'escalader les falaises de Provence !
        </p>
        <p class="aPropos-text">
           Dans mon écrin vauclusien, je vous propose une gamme étendue et variée de bijoux originaux, pour femmes, hommes, enfants (bracelets, boucles d'oreilles, bagues, colliers, pendentifs, accessoires), ainsi que des minéraux bruts (non polis) ou cristallisés (formes naturelles avec un système cristallin), et des objets de décoration ou de détente.
        </p>
        <p class="aPropos-text">
            Surnommée “Indiana Jones des temps modernes” par mon entourage, je pars chaque année explorer le globe pour ramener des pierres inédites et des créations originales des meilleurs artisans du monde. 
        </p>
        <p class="aPropos-text">
            Ma dernière escapade en République dominicaine m'a d'ailleurs conduite vers le gemmologue Patrick Voillot, réputé pour ses reportages sur les pierres précieuses. J'ai eu la chance de participer à son documentaire dédié au larimar, baptisé  <a href="youtube.com/watch?v=-WwoeZfIt2U">l'Ambre bleue de la République Dominicaine</a>.
        </p>
        <p class="aPropos-text">
            En portant ou en offrant l'un de mes bijoux en larimar ou autre minéral, vous valoriserez un savoir-faire d'excellence et vous vous distinguerez grâce à ces magnifiques pierres trouvées au bout du monde  ! 
        </p>
        <div class="aPropos-signature">
            <p>
                À très bientôt,
            </p>
            <p>
                Marie-Laure
            </p>
        </div>
    </div>
{% endblock %}
