<header class="checkout-header">
    <div class="checkout-header-top">
        <a class="checkout-header-link" href="/en?cart">
            <img class="icon left-arrow-icon" src="/img/icons/left_arrow.png" alt="left arrow">
            <span>Cart</span>
        </a>
        <a href="{{ path('home') }}">
            <img class="checkout-header-logo" src="/img/logo.png" alt="Larimar logo" />
        </a>
    </div>
</header>