<header class="checkout-header">
    <div class="checkout-header-top">
        <a class="checkout-header-link" href="/?panier">
            <img class="icon left-arrow-icon" src="/img/icons/left_arrow.png" alt="flèche vers la gauche">
            <span>Panier</span>
        </a>
        <a href="{{ path('home') }}">
            <img class="checkout-header-logo" src="/img/logo.png" alt="logo Larimar" />
        </a>
    </div>
</header>