{% extends "en/email/base.html.twig" %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div style="padding: 10px 15px;">
        <img src="http://localhost:8000/img/logo.png" style="width: 140px; height: 140px;" alt="Larimar logo">
         
        <h1 style="font-size: 1.4em;">Reset your password</h1>

        <p style="margin: 40px 0;">You've asked to reset your password, please click on the link below (valid 48h)</p>

        <p style="margin: 40px 0;">
            <a style="color: #009095; text-transform: uppercase; font-weight: 600; font-size: .9em;" href={{ link }}>Create a new password</a>
        </p>
    </div>
{% endblock %}

