<footer class="{{ footerClass ?? 'footer' }}">
    <div class="container">
        <div class="footer-separator"></div>
        <div class="reassurance">
            <div class="reassurance-left">
                <svg class="truck-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path stroke="currentColor" fill="currentColor" d="M224.118-161Q175-161 140.5-195.417 106-229.833 106-279H40v-461q0-24 18-42t42-18h579v167h105l136 181v173h-71q0 49.167-34.382 83.583Q780.235-161 731.118-161 682-161 647.5-195.417 613-229.833 613-279H342q0 49-34.382 83.5-34.383 34.5-83.5 34.5ZM224-221q24 0 41-17t17-41q0-24-17-41t-41-17q-24 0-41 17t-17 41q0 24 17 41t41 17Zm507 0q24 0 41-17t17-41q0-24-17-41t-41-17q-24 0-41 17t-17 41q0 24 17 41t41 17Zm-52-204h186L754-573h-75v148Z"/>
                </svg>
                <span>Extra delivery</span>
            </div>
            <div class="reassurance-right">
                <div class="line-one">
                    <svg class="icon i-lock" version="1.1" id="fi_17354" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="372.826px" height="372.826px" viewBox="0 0 372.826 372.826" style="enable-background:new 0 0 372.826 372.826;" xml:space="preserve">
                        <g>
                            <path fill="currentColor" d="M303.761,153.483h-17.666V99.692C286.095,44.727,241.378,0,186.416,0c-54.982,0-99.691,44.721-99.691,99.692v53.791h-17.66
                                c-10.164,0-18.399,8.239-18.399,18.399v182.546c0,10.16,8.235,18.398,18.399,18.398h234.697c10.143,0,18.399-8.238,18.399-18.398
                                V171.882C322.161,161.722,313.904,153.483,303.761,153.483z M123.519,99.692c0-34.687,28.21-62.897,62.896-62.897
                                c34.678,0,62.889,28.21,62.889,62.897v53.791H123.519V99.692z"></path>
                        </g>
                    </svg>
                    <span>Secure payment</span>
                </div>
                <img class="cb-icons" src="/img/icons/cb/combi.jpg" alt="logos visa, mastercard, et cb">
            </div>
        </div>
        <div class="footer-separator"></div>
        <div class="details">
            <div class="left">
                <div class="address">
                    <p>Shop Origin'L by Larimar</p>
                    <p>44 route de Cavaillon</p>
                    <p>84800 Fontaine de Vaucluse</p>
                    <p>France</p>
                </div>
                <div class="mailphone">
                    <p>
                        <a class="footer-link" href="mailto:contact@larimar-france.com">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path stroke="currentColor" fill="currentColor" d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302 340-223v-55L480-522 140-740v55l340 223Z"/>
                            </svg>
                            <span>contact@larimar-france.com</span>
                        </a>
                    </p>
                    <p>
                        <a class="footer-link" href="tel:+33613308707">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                <path stroke="currentColor" fill="currentColor" d="M795-120q-122 0-242.5-60T336-336q-96-96-156-216.5T120-795q0-19 13-32t32-13h140q14 0 24.5 9.5T343-805l27 126q2 14-.5 25.5T359-634L259-533q56 93 125.5 162T542-254l95-98q10-11 23-15.5t26-1.5l119 26q15 3 25 15t10 28v135q0 19-13 32t-32 13Z"/>
                            </svg>
                            <span>+33 6 13 30 87 07</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="center">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2873.823642220054!2d5.125713376712037!3d43.92162517109071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ca0beb7e97448b%3A0xd22b5e4343612c72!2sOrigin&#39;l%20Larimar%20France!5e0!3m2!1sfr!2sfr!4v1686436219185!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="right">
                <span>Find me on</span>
                <div class="social-icons">
                    <a href="https://www.facebook.com/groups/715250349390115">
                        <img class="social-icon" src="/img/icons/social/facebook.png" alt="facebook logo">
                    </a>
                    <a href="https://www.instagram.com/larimarfrance/">
                        <img class="social-icon" src="/img/icons/social/instagram.png" alt="instagram logo">
                    </a>
                    <a href="https://www.youtube.com/@radiomineraux5553">
                        <img class="social-icon" src="/img/icons/social/youtube.png" alt="youtube logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-separator"></div>
        <div class="lang-choices">
            <a class="lang-choice" href={{ path('home') }}>
                <img class="flag-icon" src="/img/icons/lang/fr.png" alt="french flag">
            </a>
            <span>/</span>
            <a class="lang-choice selected" href={{ path('en_home') }}>
                <img class="flag-icon" src="/img/icons/lang/en.png" alt="United Kingdom flag">
            </a>
        </div>
        <div class="legal-wrapper">
            <div class="legal">
                <p>
                    <a class="footer-link" href="/docs/mentions_legales.pdf" target="_blank">Legal notice</a>
                </p>
                <p>
                    <a class="footer-link" href="/docs/conditions_generales_de_vente.pdf" target="_blank">Terms of sales</a>
                </p>
                <p>
                    <a class="footer-link" href="/docs/conditions_de_livraison.pdf" target="_blank">Terms of delivery</a>
                </p>
                <p>
                    <a class="footer-link" href="/docs/conditions_de_paiement.pdf" target="_blank">Terms of payment</a>
                </p>
                <p>
                    <a class="footer-link" href="{{ path('fr_static_aPropos') }}">Who am I ?</a>
                </p>
            </div>
            <div class="credits">
                <p class="footer-subtitle">Credits</p>
                <p>Specifications, model and texts : <strong>Maud Guglielmi</strong></p>
                <p>
                    <span>Developer : </span>
                    <strong>
                        <a class="dev-link" href="mailto:ibaiarotcarena.dev@gmail.com">ibaiarotcarena.dev@gmail.com</a>
                    </strong>
                </p>
            </div>
        </div>
        <div class="copyright">© Copyright 2023, reproduction interdite</div>
    </div>
</footer>